.main {
    margin: 0;
    background-color: black;
    height: 10vh;
    font-size: x-large;
    display: flex;
    align-items: center;
}

.l1 {
    float: left;
    padding: 0 5px;
    list-style-type: none;
}

a {
    display: block;
    color: aqua;
    text-decoration: none;
    /* text decoration= none; help to remove underline below nav text */
}

a:hover {
    color: red;
}

#d1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.box1 {
    width: 20vw;
    height: 80vh;
    background-color: yellow;
    padding-left: 20px;
    margin-right: 60vw;

}

.box2 {
    width: 20vw;
    height: 80vh;
    background-color: yellow;
    padding-left: 20px;
}

footer {
    background-color: black;
    height: 10vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
